{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='{% static "mbta/style.css" %}' rel="stylesheet">
    </head>
    <body>

        <div id="nav" class="container">
            <a class="button" href="/mbta">View All Routes</a><br />
            <img src="{% static "mbta/green.png" %}"> Stop<br />
            <img src="{% static "mbta/redrail.png" %}"> Outbound Train<br />
            <img src="{% static "mbta/bluerail.png" %}"> Inbound Train
        </div>

        <div class="container">
            <div class="route" style="background-color: #{{ route.data.attributes.color }}; color: #{{route.data.attributes.text_color}};">
                <p>{{ route.data.id }} <br />
                {{ route.data.attributes.description }}<br />
                {{ route.data.attributes.long_name }}<br />
                {% for direction in route.data.attributes.direction_destinations %}
                    {{direction}} <br />
                {% endfor %}
                </p>
            </div>
        </div>

        <div class="mapcontainer">
            <div id="googleMap" style="width:600px;height:600px;"></div>
        </div>

        <div class="container">
        {% for vehicle in vehicles.data %}
            <div class="vehicle">
                <p>
                    Bearing: {{vehicle.attributes.bearing}} <br />
                    Current Status: {{vehicle.attributes.current_status}} <br />
                    Current Stop: {{vehicle.attributes.current_stop_sequence}} <br />
                    Direction: {% if vehicle.attributes.direction_id == 0 %}Outbound{% else %}Inbound{%endif%}<br />
                    Label: {{vehicle.attributes.label}} <br />
                    <!-- Latitude: {{vehicle.attributes.latitude}} <br />
                    Longitude: {{vehicle.attributes.longitude}} <br /> -->
                    Speed: {{vehicle.attributes.speed}} <br />
                    Updated: {{vehicle.attributes.updated_at}} <br />
                </p>
            </div>
        {% endfor %}
        </div>

        <script>
        function myMap() {

            var mapProp= {
                center:new google.maps.LatLng(42.4602778,-71.3494444),
                zoom:8,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            var outbound = '{% static "mbta/redrail.png" %}';
            var inbound = '{% static "mbta/bluerail.png" %}';
            var stop_icon = '{% static "mbta/green.png" %}';

            {% for vehicle in vehicles.data %} 
                var marker{{ forloop.counter }} = new google.maps.Marker({
                    position: new google.maps.LatLng({{vehicle.attributes.latitude}}, {{vehicle.attributes.longitude}} ),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    {% if vehicle.attributes.direction_id == 0 %}
                    icon: new google.maps.MarkerImage(outbound)
                    {% else %}
                    icon: new google.maps.MarkerImage(inbound)
                    {% endif %}
                });
                marker{{ forloop.counter }}.info = new google.maps.InfoWindow({
                    content: '<b>Speed:</b> {{vehicle.attributes.speed}} <br />' +
                    '<b>Train</b> {{vehicle.attributes.label}} <br />' +
                    '<b>{% if vehicle.attributes.direction_id == 0 %} Outbound {% else %} Inbound {% endif %}</b>'
                });
                google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function() {
                    marker{{ forloop.counter }}.info.open(map, marker{{ forloop.counter }});
                });
            
            {% endfor %}

            {% for stop in stops.data %} 
                var stop{{ forloop.counter }} = new google.maps.Marker({
                    position: new google.maps.LatLng({{stop.attributes.latitude}}, {{stop.attributes.longitude}} ),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: new google.maps.MarkerImage(stop_icon)
                });
                stop{{ forloop.counter }}.info = new google.maps.InfoWindow({
                    content: '<b>{{stop.attributes.name}}</b>'
                    
                });
                google.maps.event.addListener(stop{{ forloop.counter }}, 'click', function() {
                    stop{{ forloop.counter }}.info.open(map, stop{{ forloop.counter }});
                });
            {% endfor %}
            
           
        }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key={{mapkey}}&callback=myMap"></script>

    </body>
</html>
